APP_SERVER_PATH=/path/to/skyvault/server
APP_DATA_FOLDER=.data
APP_PORT=8090
APP_ADDR=:${APP_PORT}
DB_CONTAINER_IMAGE=postgres:16
DB_CONTAINER_NAME=skyvault_db
DB_HOST=localhost
DB_HOST_PORT=15433
DB_CONTAINER_PORT=5432
DB_HOST_VOLUME=${APP_SERVER_PATH}/${APP_DATA_FOLDER}/db
DB_NAME=skyvault
DB_USER=skyvault
DB_PASS=skyvault
DB_CONN_STR=postgres://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_HOST_PORT}/${DB_NAME}?sslmode=disable
DB_MIGRATION_PATH=${APP_SERVER_PATH}/infra/store/db_store/internal/migrations
DB_GEN_MODELS_PATH=${APP_SERVER_PATH}/infra/store/db_store/internal/gen_jet
